/*  */
* {
    margin: 0px;
    padding: 0px;    
}

body {
    /* ESTILO F1 */
    background-image: url(../img/f1green.jpg);
    height: 100%;    
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 400%; */
    /* Topo, Direita, Baixo, Esquerda */
    /* ESTILO COMUM */
    /* background: linear-gradient(-100deg, #11c1c7, #0d462a ); */
    /* TEXTE */
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 99vh;
    /* BORDA */
    border: 2px solid rgb(37, 145, 104);
}

.form-box {
    display: flex;
    flex-direction: column;
    background: linear-gradient(200deg, #11c1c7, #0d462a );
    border-radius: 10px;
    width: 50%;
}

h1 {
    padding: 24px;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    border-bottom: 1px solid #145f1a;
    color: #064548;
}

form {
    padding: 24px;
    display: flex; /* coloca elementos lado a lado */
    align-items: start; /* Alinha elementos acima à esquerda */
    flex-wrap: wrap; /* Organiza elementos para caber dentro do container, que neste caso é a form-box */
}

form input,
form textarea,
form button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 24px;    
}

form textarea {
    height: 180px;
}

form button {
    /* display: block; */
    border: none;
    outline: none;
    background: linear-gradient(200deg, #11c1c7, #0d462a );
    color: rgb(255, 255, 255);
}